@import "responsiveFont";
@import "about";
@import "intro";

$desktop_margin: 20px;

body {
	background-color: #f2efea;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: pointer;
}

#cover {
	display:none;
	position: absolute;
	top:0px;
	left: 0px;
	width:100%;
	height:100%;
	background-color:rgba(242, 239, 234, 0.75);
}
#cover.show {
	display:block;
}

#infoIcon{
	padding: 0px;
	margin: 0px;
	border:none;
	outline: none;
	cursor: pointer;

	position:absolute;
	right:$desktop_margin;
	top:$desktop_margin;

	background: url(/img/info.svg);
	background-size: 34px 34px;
	background-position: center;
	background-repeat: no-repeat;
	display:none;
}
#infoIcon.show{
	display:block;
}

/* desktop */
@media all {
	#infoIcon{
		right:$desktop_margin;
		top:$desktop_margin;
		bottom:auto;
		border:none;
		background-color: #FFF;
		border-radius: 50%;
		height: 54px;
		width: 54px;
		border: 1px solid rgba(153, 153, 153, 0.33);
	}
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (max-width: 400px) {
	#infoIcon{
		right:10px;
		top:auto;
		bottom:10px;
		border: 0px;
		border-left:1px solid #F2EFEA;
		border-radius: 0px;
		background-color: transparent;
		height: 54px;
		width: 54px;
	}
}

#trace {
	display:none;

	position: absolute;
	top:10px;
	left: 400px;
	width:300px;
	height:100px;
	background-color:rgba(255, 255, 255, 0.8);
	z-index:1000;
	overflow:auto;

	border:1px solid;
	padding:10px;
	font-family: 'Roboto Mono', sans-serif;
	font-size:8px;
}

#trace.show {
	display:block;
}


#reorient {
	display:none;
	position: absolute;
	top:0px;
	left: 0px;
	width:100%;
	height:100%;
	background-color:rgba(242, 239, 234, 1.0);
}

#reorient.show {
	display:block;
}
#reorient > .container {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	text-align: center;

	font-family: 'Roboto Mono', sans-serif;
	line-height: 180%;
	font-size:16px;
	color:#424141;

}

#reorient > .container > .rotatePhone {
	width: 180px;
	height: 140px;
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom:40px;
	background-image: url("/img/rotatePhone.svg");
	background-repeat: no-repeat;
}

#noGL, #noMobile {
	display:none;
	position: absolute;
	top:0px;
	left: 0px;
	width:100%;
	height:100%;
	background-color:rgba(242, 239, 234, 1.0);
}
#noGL.show, #noMobile.show {
	display:block;
}

#noGL > .container, #noMobile > .container {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	text-align: center;
	font-family: 'Roboto Mono', sans-serif;
	line-height: 180%;
	font-size:16px;
	color:#424141;
}

#noGL > .title > a, #noMobile > .title > a {
	color:#18BABA;
}